# i3blocks configuration file

separator_block_width = 15

# Get volume 
[volume]
command=bash ./scripts/volume.sh
interval=1
signal=1

# Get cpu usage
[cpu]
command=perl ./scripts/cpu.pl
interval=5

#Show wifi info, if connected
[wifi]
instance=wlp3s0
command=bash ./scripts/wifi.sh
interval=10
color=#91E78B

#Show battery percentage
[battery]
command=python3 ./scripts/battery.py
interval=5

# Update time
[time]
command=echo -n "🕒" && date '+%a %H:%M %d/%m/%Y' 
interval=5
